body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orange {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 8%;
}

.half-width img {
    width: 65%;
}

.link-button {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
}

.topbanner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.expitem {
    width: 50%;
    padding-left: 8%;
    box-shadow: 10px 10px 30px grey;
    margin-left: 5%;
    margin-right: 2%;
    padding: 2% 2% 10% 2%;
    border-radius: 15px;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#exp1 {
    border-left: 7px solid;
    border-image: linear-gradient(salmon, purple);
    border-image-slice: 1;
}

#exp2 {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer {
    color: gray;
    text-align: center;
    font-size: 18px;
    padding: 5px;
}